<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userJoin</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<form action="/user/join" method="post">
    아이디: <input type="text" name="userId" id = "userId" onkeyup="userIdCheck()"> <br>
    <span id="check-result"> </span> <br>
    비밀번호: <input type="password" name="userPassword"> <br>
    이름: <input type="text" name="userName"> <br>
    연락처: <input type="text" name="userContact"> <br>
    주소: <input type="text" name="userAddress"> <br>

    <input type="submit" value="일반 고객 회원가입">
</form>
</body>
<script th:inline="javascript">
    const userIdCheck = () => {
        const userId = document.getElementById("userId").value;
        const checkResult = document.getElementById("check-result");
        console.log("입력값: ", userId);
        $.ajax({
            // 요청방식 : post, url : "userId-check", 데이터: userId
            type: "post",
            url: "/user/userId-check",
            data: {
                "userId": userId
            },
            success: function(result){
                console.log("요청성공", result);
                if(result == "ok") {
                    console.log("사용 가능한 아이디입니다.");
                    checkResult.innerHTML = "사용 가능한 아이디입니다."
                } else{
                    console.log("이미 사용 중인 아이디입니다.");
                    checkResult.innerHTML = "이미 사용 중인 아이디입니다."
                }
            },
            error: function(error){
                console.log("에러발생", error);
            }
        });
    }
</script>
</html>